/* Keeping at the moment since no moment footer */

.Footer{
    margin-top: 10px;
    padding: 10px;
    position: relative;
    color: white;
    background-color: #3f50b5;
    display: flex;
    justify-content: center;
    align-items: center;
}